<h2>Operational Metrics Summary for <%= @last_working_day %></h2>

<% content_for :sidebar do %>
  <h3>Navigation</h3>
  <%= link_to 'View Graphs', stats_operational_metrics_path, :class => 'icon icon-stats' %><br/>
  <%= link_to 'Manage Holidays', holidays_path, :class => 'icon icon-calendar' %>
<% end %>
<br/>


<table class="list">
  <thead>
    <tr>
      <th>User Name</th>
      <th style="text-align:center;">Ticket Count</th>
      <th style="text-align:center;">Breakdown Count</th>
      <th style="text-align:center;">Breakthrough Count</th>
    </tr>
  </thead>
  <tbody>
    <% @summary_data.each do |data| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= data.user_name %></td>
        <td style="text-align:center;"><%= data.ticket_count %></td>
        <td style="text-align:center;"><%= data.breakdown_count %></td>
        <td style="text-align:center;"><%= data.breakthrough_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
